body {
    
}

.header {
    display: flex;
    background-color: #2d2929;
    align-items: center;
    padding: 16px;
}

.logo {
    font-family: ff-folk-rough, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.nav {
    color: white;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-left: auto;
}

ul {
    display: flex;
    list-style: none;
    margin: 0 -10px;
}

li {
    margin: 0 15px;
}

.hero-container {
    background-color: #2d2929;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding: 30px 100px;
    padding-bottom: 100px; 
}

.hero-container .content {
    flex: 1;
    padding-right: 24px;
}

h1 {
    color: white;
    font-family: ff-folk-rough, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

p {
    color: white;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}

button {
    background-color: #a01010;
    color: white;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
}

.title {
    text-align: center;
    color: #2d2929;
    font-family: ff-folk-rough, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-top: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
}
 .char img {
    border: 5px solid #a01010;
    border-radius: 8px;
    width: 150px;
 }

.char {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 0;
    width: 200px;
}

.bold-text {
    color: #2d2929;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 8px;
}

.text {
    color: #2d2929;
    font-family: montserrat, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
}
